---
import { SITE_COMPANY, SITE_NAME, SITE_SLOGAN1, SITE_SLOGAN2 } from "../config"
---

<div>
  <h1><span class="text-texas-rose-500">{SITE_NAME}</span></h1>
  <h2 class="font-sub-header text-wild-willow-400">{SITE_SLOGAN1}</h2>
  <h2>{SITE_SLOGAN2}</h2>
  <p class="pt-4 pr-8">
    No topic to be isolated, everything must offer value, be done for a purpose, project-based, inserted in its own history, ready to be re-used.
  </p>
  <p class="pt-4 pr-8">
    Victor Kane. Worker/Owner@AWebFactory. Work as praxis in word + code + mentor + poet for real needs. A process engineer and system architect focusing on a lean/UX and agile approach to web application development based on best of class frameworks, communities and tools.
  </p>
</div>